/* You can add global styles to this file, and also import other style files */

:root {
    --buhler-bg: #dadada;
    --buhler-green: #00a99d;
}

body {
    margin: 0px;
    font-family: sans-serif;
}